.all-cocktails-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
	position: absolute;
	height: 76vh;
	bottom: 0;
  opacity: 90%;
  overflow: scroll;
  width: 100vw;
}