.all-cocktails-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin-top: 14%;
  opacity: 90%;
  overflow: scroll;
  width: 100vw;
}
