.all-cocktails-container {
  background-color: black;
	bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
	height: 76vh;
  justify-content: center;
  opacity: 0.95;
  overflow: scroll;
	position: absolute;
  width: 100vw;
}

.no-found-cocktails {
	color: white;
	font-size: 1.3em;
	margin-top: 8%;
	font-style: italic;
}