.cocktail-details-wrapper {
	background-color: black;
	bottom: 0;
	color: white;
	height: 76vh;
	opacity: 0.9;
	overflow: scroll;
	position: absolute;
	width: 100vw;
}

.cocktail-details-card {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: 80vw;
}

.info-wrapper {
	margin-left: 90px;
	margin-right: 80px;
	text-align: left;
}

.ingredient-container {
	display: flex;
}

.ingr-measure-list {
	list-style-type: none;
}

.detail-paragraph {
	display: flex;
}

.sub-heading {
	font-weight: bold;
	margin-right: 6px;
}

.info-wrapper button {
	margin: 3%;
}

.button-container {
	display: flex;
  justify-content: space-evenly;
}

.icon {
	height: 50px;
}

.details-img {
	width: 55%;
}