.cocktail-details-wrapper {
	position: absolute;
	bottom: 0;
	height: 76vh;
	width: 100vw;
	color: white;
	background-color: black;
	opacity: 90%;
	overflow: scroll;
}

.cocktail-details-card {
	width: 80vw;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 0 auto;
}

.info-wrapper {
	text-align: left;
	margin-left: 90px;
	margin-right: 80px;
}

.ingredient-container {
	display: flex;
}

.ingr-measure-list {
	list-style-type: none;
}

.detail-paragraph {
	display: flex;
}

.sub-heading {
	font-weight: bold;
	margin-right: 6px;
}