.COTD-img {
	height: 35vh;
}

.cocktail-OTD {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid grey;
	padding: 15px;
	justify-content: space-between;
	background-color: black;
	color: white;
	width: 40%;
	height: 55%;
	font-family: 'Recursive', sans-serif;
	min-height: 400px;
	min-width: 250px;
	margin: 0 auto;
	h3 {
		margin: 0;
		margin-top: 9px;
	}
}

.COTD-title {
	text-align: center;
	color: white;
	font-size: 23px;
	margin-top: 4%;
  margin-bottom: 2%;
	font-family: 'Playfair Display', serif;
}

.cocktail-OTD-wrapper {
	background-color: black;
	bottom: 0;
	font-family: sans-serif;
	height: 76vh;
	opacity: 0.9;
	overflow: scroll;
	position: absolute;
	width: 100vw;
}

.welcome-msg {
	color: white;
	font-family: 'Recursive', sans-serif;
	margin-left: 15px;
}

.details-btn {
	cursor: pointer;
	font-family: 'Recursive', sans-serif;
	margin-bottom: 3px;
	margin-top: 6px;
	min-height: 29px;
  width: 90px;
}