displayNone {
	display: none
}

.login-wrapper {
	width: 100vw;
	height: 80vh;
	margin-top: 20%;
	color: white;
}

.login-form {
	height: 400px;
	background: black;
	opacity: 80%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 15px;
	font-size: 13px;
}

.login-btns {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin-top: 20px;
}

.subtitle {
	font-style: italic;
	margin-bottom: 50px!important;
	width: 298px;
	margin: 0 auto;
	font-size: 17px;
}

.minor-msg {
	margin-top: 300px;
	position: absolute;
	color: red;
}