displayNone {
	display: none
}

.login-wrapper {
	width: 100vw;
	height: 80vh;
	margin-top: 20%;
	color: white;
	overflow: scroll;
}

.login-form {
	height: 400px;
	background: black;
	opacity: 80%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 15px;
	font-size: 13px;
	font-family: 'Recursive', sans-serif;
	margin-bottom: 15%;
}

.login-msg {
	font-size: 1.3em;
	width: 82%;
  height: 13%;
}

.login-btns {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	margin-top: 20px;
	height: 10%;
}

.subtitle {
	font-style: italic;
	color: black;
	font-weight: bolder;
	margin-bottom: 43px!important;
	width: 470px;
	margin: 0 auto;
	font-size: 25px;
	font-family: 'Recursive', sans-serif;
}

.minor-msg {
	margin-top: 300px;
	position: absolute;
	color: red;
}

.submit-login-btn {
	min-height: 25px;
	cursor: pointer;
	font-family: 'Recursive', sans-serif;
	font-size: 16px;
}

.input {
	color: white;
	background: none;
	border-style: none;
	border: 1px solid grey;
	font-size: 1.3em;
	font-family: 'Recursive', sans-serif;
	height: 3.5vh;
	width: 250px;
	min-height: 26px;
	padding-left: 3%;
}