displayNone {
	display: none
}

.login-wrapper {
	color: white;
	height: 80vh;
	margin-top: 20%;
	overflow: scroll;
	width: 100vw;
}

.login-form {
	align-items: center;
	background: black;
	display: flex;
	flex-direction: column;
	font-family: 'Recursive', sans-serif;
	font-size: 13px;
	height: 400px;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 15%;
	opacity: 0.8;
	padding: 15px;
	width: 500px;
}

.login-msg {
	font-size: 1.3em;
  height: 13%;
	width: 82%;
}

.login-btns {
	display: flex;
	height: 10%;
	justify-content: space-evenly;
	margin-top: 20px;
	width: 50%;
}

.subtitle {
	color: black;
	font-family: 'Recursive', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: bolder;
	margin: 0 auto;
	margin-bottom: 43px!important;
	width: 470px;
}

.minor-msg {
	color: red;
	margin-top: 300px;
	position: absolute;
}

.submit-login-btn {
	cursor: pointer;
	font-family: 'Recursive', sans-serif;
	font-size: 16px;
	min-height: 25px;
}

.input {
	color: white;
	background: none;
	border: 1px solid grey;
	font-size: 1.3em;
	font-family: 'Recursive', sans-serif;
	height: 3.5vh;
	min-height: 26px;
	padding-left: 3%;
	width: 250px;
}

@media only screen and (max-width: 375px) {
	.login-form {
		width: 310px;
	}

	.subtitle {
		color: white;
		font-family: 'Recursive', sans-serif;
		font-size: 26px;
		margin-top: 75px;
		width: 310px;
	}

	.login-msg {
		height: 23%;
	}

	.submit-login-btn {
		cursor: pointer;
		font-family: 'Recursive', sans-serif;
		font-size: 16px;
		min-height: 40px;
	}

}