.about-wrapper {
	align-items: center;
	background-color: black;
	bottom: 0;
	color: white;
	display: flex;
	flex-direction: column;
	height: 76vh;
	justify-content: center;
  opacity: 0.9;
  overflow: scroll;
	position: absolute;
	width: 100vw;
}

.cheers-img {
	width: 46%;
}

.about {
	font-family: 'Recursive', sans-serif;
	font-size: 22px;
	text-indent: 4%;
	width: 55%;
	margin-bottom: 5%;
	font-style: italic;
}

@media only screen and (max-width: 375px) {
	.cheers-img {
		width: 50%;
	}

	.about {
		font-size: 16px;
	}
}
