.about-wrapper {
	align-items: center;
	background-color: black;
	bottom: 0;
	color: white;
	display: flex;
	flex-direction: column;
	height: 76vh;
	justify-content: center;
  opacity: 0.9;
  overflow: scroll;
	position: absolute;
	width: 100vw;
}

.cheers-img {
	width: 40%;
}

.about {
	font-family: 'Recursive', sans-serif;
  font-size: 22px;
	width: 55%;
}
