.cocktail-card {
	// align-items: center;
	align-self: center;
  border: 1px solid grey;
	display: flex;
	justify-content: space-evenly;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 45%;
	margin: 2%;
  width: 77%;
}

.card-title {
  color: white;
	font-size: 2vh;
	margin-left: 25px;
	margin-top: 25px;
	width: 100%;
}

.img-container {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.CC-img {
	border-left: solid 2px gray;
	margin-top: 0.5%;
	margin-bottom: 6px;
	margin-left: 2%;
	margin-right: 2%;
  padding: 0.5% 1%;
	min-width: 150px;
	width: 10%;
	object-fit: cover;
}

.cc-button {
	height: 3vh;
	margin-right: 14px;
	min-height: 22px;
}
