.cocktail-card {
	align-items: center;
	border: 2px solid grey;
	display: flex;
	flex-direction: column;
	font-family: 'Recursive', sans-serif;
	justify-content: center;
	margin: 2%;
	max-height: 55%;
	max-width: 25%;
	min-height: 55%;
	min-width: 20%;
	opacity: 100%;
}

.card-title {
  color: white;
	display: flex;
	font-size: 18px;
	justify-content: center;
	margin: 0;
}

.CC-img {
	margin: 4% 0;
	max-width: 65%;
	object-fit: cover;
}

.cc-button {
	cursor: pointer;
	height: 3vh;
	font-size: 18px;
	font-family: 'Recursive', sans-serif;
}
