.my-cocktails-container {
	background-color: black;
	color: white;
	position: absolute;
	height: 76vh;
	bottom: 0;
  opacity: 90%;
  overflow: scroll;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}