.my-cocktails-container {
	background-color: black;
	color: white;
	position: absolute;
	height: 76vh;
	bottom: 0;
  opacity: .9;
  overflow: scroll;
	width: 100vw;
}

.btn-container {
	margin-top: 10%;
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
}

.my-c-button {
	height: 3vh;
}